<ul *ngIf="jokes">
  <li *ngFor="let joke of jokes">{{joke.id}} {{joke.joke}}
    <button (click)="removeJoke(joke.id)">-</button>
  </li>
  <li *ngIf="isRemoved" style="color: red">Joke with id {{getRemovedId()}} was removed</li>
</ul>

<app-generatejoke (onChanged)="onChanged($event)"></app-generatejoke>
