<div>
    <p>
		<label>Name:
			<input [(ngModel)]="user.username" placeholder="User Name"/>
		</label>
    </p>
	<p>
		<label>Password:
			<input type="password" [(ngModel)]="user.password" placeholder="User Password"/>
		</label>
    </p>
  </div>

  <button (click)="save()">Submit</button>
